.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    .nav-options {
      display: flex;
      flex-direction: column;
    }
    .nav-options a {
      margin-bottom: 0.5rem;
    }
  }

.nav-button {
  font-family: Nunito;
  color: #495340 !important;
  background-color: #ffffff !important; 
  border-color: #2CC84D !important; 
}

.nav-button:hover {
  color: #495340 !important;
  background-color: #ffffff !important;
  border-color: #2CC84D !important; 
}

.logo{
  margin-top: 15px;
  margin-left: 50px;
  height: 35px;
}

.contact-i{
  height: 20px;;
  margin-right: 25px;
  padding-right: 25px;
}
.cokie{
  padding-left: 8px;
}

.rocket{
  padding-left: 40px;
  width: 100px;
}

.login-button {
  background-color: #2CC84D;
  border-color: #2CC84D;
  margin-left: 25px;
  margin-right: 25px;
  border-top: 5px solid #2CC84D;
}

.login-button:hover {
  background-color: #2CC84D; /* Maintain the same background color on hover */
  border-color: #2CC84D; /* Maintain the same border color on hover */
  border-top: 5px solid #2CC84D; /* Maintain the same top border color and size on hover */
}
