body {
    background-color: #F5F5F5;
}

.ourclass{
    max-width: 100%;
    width: 555px;
    height: 470px;
}

.subject{
    text-align: left;
}

.btn-group {
    display: flex;
  }
  
  .btn {
    border: 2px solid orange;
    background-color: transparent;
    color: orange;
    transition: background-color 0.3s ease; 
  }
  
  .btn:hover {
    background-color: rgb(0, 255, 81);
    color: white; 
  }
  
  .btn-orange {
    border-color: orange;
    color: orange;
  }
  
  .btn-orange:hover {
    background-color: orange;
    color: white; 
  }

.Group6{
    width: 270px;
    height: 180px;
    margin-top: 150px;
}

.m-2{
  background-color: #ffffff;
  border-color: #e4dfdf;
  border-bottom: 5px solid #e4dfdf;
  color: black;
  font-weight: bold;
}

h1{
  margin-left: 50px;
  margin-right: 25px;
  text-align: left;
}

.topic{
  text-align: left;
  margin-top: 65px;
  margin-left: 50px;
}

.price{
  color: black;
  font-size: 3ch;
  font-weight: normal;
}

.text-success{
  color: black;
}
  